<div class="container text-center">

    <div class="col-md-6 col-md-offset-3">

        <div class="page-header">
            <h1><strong>Unicorn.</strong> <br/> <small>Manage your dashboard like a boss</small></h1>
        </div>

        <div class="spacer10"></div>

        <div>
            Dashboard !
        </div>

    </div>

</div>
