/* line 17, app.sass */
.spacer50 {
  margin-top: 50px; }

/* line 19, app.sass */
.spacer10 {
  margin-top: 10px; }

/* line 21, app.sass */
.spacer20 {
  margin-top: 20px; }

/* line 23, app.sass */
.spacer40 {
  margin-top: 40px; }

/* line 26, app.sass */
.clear {
  clear: both; }

/* line 29, app.sass */
.notice {
  width: 100%;
  background-color: #e74c3c;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: white; }

/* line 36, app.sass */
.notice-error {
  background-color: #e74c3c; }

/* line 38, app.sass */
.notice-black {
  background-color: #333333; }

/* line 40, app.sass */
.notice-success {
  background-color: #27ae60; }

/* line 45, app.sass */
.form-control, .form-control:focus {
  border: 3px solid #cdcdcd;
  box-shadow: none; }

/* line 50, app.sass */
.btn.btn-black {
  background-color: #333333;
  color: white; }

/* line 56, app.sass */
#player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 2em; }
  /* line 64, app.sass */
  #player iframe, #player object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 73, app.sass */
.entry .duration {
  color: #7f8c8d;
  display: inline-block;
  margin-left: 0.4em; }

@media only screen and (max-width: 767px) {
  /* line 83, app.sass */
  #search-track {
    margin-bottom: 1em; }

  /* line 87, app.sass */
  h1 small {
    font-size: 16px; }
    /* line 90, app.sass */
    h1 small span.label {
      font-size: 16px; }

  /* line 94, app.sass */
  .entry .pull-left {
    float: none !important; }
  /* line 96, app.sass */
  .entry .pull-right {
    float: none !important; }
  /* line 99, app.sass */
  .entry .duration {
    margin-left: none;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    display: block; } }
/* line 107, app.sass */
.w100 {
  width: 100%; }

/* line 111, app.sass */
h1 strong {
  font-size: 60px; }

/* line 114, app.sass */
#results-search {
  margin-top: 2em; }
