<div class="entry">	
	<div class="picture">
		<img src="{{picture}}" />
	</div>
	<div class="details">
		<div class="name">{{name}}</div>
		<div class="duration">{{duration}}</div>
	</div>
	<div class="actions"><a class="btn btn-black" href="#/push"><i class="fa fa-cloud-upload"></i> Push</a></div>
</div>

<div class="clear"></div>

<hr>