<div class="spacer30"></div>

<div class="container text-center">

    <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1><strong>Unicorn.</strong> <br/> <small>Manage your music like a boss</small></h1>
    </div>
    <div class="pull-left col-md-6">
                    <a class="btn btn-lg btn-primary w100"><i class="fa fa-cloud-upload"></i> Join</a>

        </div>
        <div class="pull-right col-md-6">
            <a href="/create" class="btn btn-lg btn-primary w100"><i class="fa fa-cloud"></i> Create</a>
        </div>
    </div>
</div>
