<div id="join-datas" data-owner="<%= owner %>" data-server="<%= server %>"></div>

<div class="notice notice-blue">
    <span id="current-track">No current track</span>
</div>



<div class="spacer20"></div>

<div class="container text-center">

            <a class="logo" href="/"><h1><strong>Unicorn.</strong> <br/> <small><%- __('Punchline') %></small></h1></a>


    <div class="spacer20"></div>
        <div class="name-server">Server #<%= server %></div>
    <div class="spacer20"></div>

    <form method="post" action="#/search" class="form-inline">
    	<input id="search-track" class="form-control input-lg" type="text" name="search" placeholder="Search track to listen" autocomplete="off" spellcheck="false"/>
    
    	<button type="submit" class="btn btn-black btn-lg" href="#/search">Search</button>
        <a id="clear-results" class="btn btn-danger btn-lg hidden"><i class="fa fa-times"></i></a>

    </form>

</div>
    
    <div class="clear"></div>
    <div class="spacer20"></div>

    <div class="container">
        <div id="results-search">
        </div>
    </div>

<div id="player">
</div>